<h2>Campaign Details</h2>

<hr/>
<div *ngIf="campaign">
  <div>
    <label><b>Name: </b></label> {{campaign.name}}
  </div>
  <div>
    <label><b>Keywords: </b></label>  {{campaign.keyWord1}}, &nbsp;  {{campaign.keyWord2}}, &nbsp; {{campaign.keyWord3}}
  </div>

  <div>
    <label><b>Bid Amount: </b></label> {{campaign.bidAmount}}
  </div>
  <div>
    <label><b>Campaign Fund: </b></label> {{campaign.campaignFund}}
  </div>
  <div>
    <label><b>Status: </b></label> {{campaign.status}}
  </div>
  <div>
    <label><b>Town: </b></label> {{campaign.town}}
  </div>
  <div>
    <label><b>Radius: </b></label> {{campaign.radius}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Campaign List</button><br>


